{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Value</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
    {% for transaction in transactions %}
      <tr>
        <th scope="row">{{ transaction['symbol'] }}</th>
		<td>{{ transaction['name'] }}</td>
        <td>{{ transaction['shares'] }}</td>
        <td>{{ transaction['value'] }}</td>
        <td>{{ transaction['date'] }}</td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
{% endblock %}