{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
    {% for stock in stocks %}
      <tr>
        <th scope="row">{{ stock['symbol'] }}</th>
        <td>{{ stock['name'] }}</td>
        <td>{{ stock['shares'] }}</td>
        <td>{{ stock['price'] }}</td>
        <td>{{ stock['value'] }}</td>
      </tr>
    {% endfor %}
      <tr>
        <th scope="row">Cash</th>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ cash }}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ total }}</td>
      </tr>
      </tbody>
    </table>
{% endblock %}